.menu{
    display:flex;
    justify-content: center;
    list-style: none;
    border: 1px solid #c0c0c0;
    float:left;
    width: 100%;
    /* background-color: aqua; */
}

.menu li{
    position: relative;
    float:left;
    border-right: 1px solid #c0c0c0;
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-size: 14px;
}

.menu li a:hover{
    background-color: #333;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu nav{
    width: 100%;
    justify-content: stretch;
}

